<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.sist.dao.mapper.BoardMapper">
  	<!-- 구문을 찾기위해 사용 될 수 있는 명명공간 내 유일한 구분자 -->
    
  	<select id="noticelist" resultType="board" parameterType="hashmap">
 		SELECT board_no,subject,category,faq_category,content,num 
 		FROM (SELECT board_no,subject,category,faq_category,content,regdate,ROWNUM as num 
 		FROM (SELECT board_no,subject,category,faq_category,content,regdate FROM board WHERE category=1 ORDER BY BOARD_NO deSC )) 
 		WHERE num BETWEEN #{start} AND #{end}
  	</select> 
  	
  	<select id="totalPage" resultType="int" parameterType="hashmap">
  		SELECT CEIL(COUNT(*)/#{rowSize}) FROM board WHERE category=#{category}
  	</select>  	

  	<select id="faqtotalListPage" resultType="int" parameterType="int">
  		SELECT CEIL(COUNT(*)/5) FROM board WHERE category=2 AND FAQ_CATEGORY=#{faq_category}
  	</select>
  	 	  
  	<!-- 카테고리별 토탈 -->
  	<select id="faqTotalPage" resultType="int">
  		SELECT COUNT(*) FROM BOARD WHERE CATEGORY=2
  	</select>  	
	  	
  	<select id="faqCatTotalPage" resultType="int"  parameterType="int">
  		SELECT COUNT(*) FROM BOARD WHERE CATEGORY=2 AND FAQ_CATEGORY=#{faq_category}
  	</select>
  	
  	<select id="faqlist" resultType="board" parameterType="hashmap">
	  SELECT board_no,subject,category,faq_category,content,regdate,num 
 		FROM (SELECT board_no,subject,category,faq_category,content,regdate,ROWNUM as num 
 		FROM (SELECT board_no,subject,category,faq_category,content,regdate FROM board WHERE category=2 ORDER BY BOARD_NO DESC)) 
 		WHERE num BETWEEN #{start} AND #{end}
  	</select> 
  	
  	<select id="catfaqlist" resultType="board" parameterType="hashmap">
	  SELECT board_no,subject,category,faq_category,content,regdate,num
			FROM (SELECT board_no,subject,category,faq_category,content,regdate,ROWNUM as num
			FROM (SELECT board_no,subject,category,faq_category,content,regdate FROM board WHERE category=2 AND FAQ_CATEGORY=#{faq_category} ORDER BY board_no DESC)) WHERE num BETWEEN #{start} AND #{end}
  	</select> 
  	
  	<insert id="notice_insert" parameterType="hashmap">
  		INSERT INTO BOARD (board_no,id,category,subject,content,secret) VALUES (board_seq.nextval,'admin',1,#{subject},#{content},1)
  	
  	</insert>
  	
  	<insert id="faq_insert" parameterType="hashmap">
  	INSERT INTO BOARD (board_no,id,category,faq_category,subject,content,secret) VALUES (board_seq.nextval,'admin',2,#{faq_category},#{subject},#{content},1)
  	</insert>
  	
  	<insert id="secret_insert" parameterType="board">
  	INSERT INTO BOARD (board_no,id,subject,category,pwd,content,secret,group_id,mine) 
  	VALUES (board_seq.nextval,#{id},#{subject},3,#{pwd},#{content},#{secret},groupid_seq.nextval,#{id})
  	</insert>
  	
  	<!-- 1:1게시판 리스트 -->  	
  	<select id="secretlist" resultType="board" parameterType="hashmap">
  		SELECT board_no,subject,id,GROUP_ID,hit,group_tab,regdate,secret,pwd,to_char(regdate,'yyyy-MM-dd') as dbday,num,mine 
 		FROM (SELECT board_no,id,GROUP_ID,hit,group_tab,subject,regdate,secret,pwd,ROWNUM as num,mine
 		FROM (SELECT board_no,id,GROUP_ID,hit,group_tab,subject,regdate,secret,pwd,mine FROM board WHERE category=3 ORDER BY group_id DESC, group_step ASC))
 		WHERE num BETWEEN #{start} AND #{end}
  	</select> 
  	
  	<update id="hitIncrement" parameterType="int">
  		UPDATE board SET hit=hit+1 WHERE CATEGORY=3 AND board_no=#{board_no}
  	</update>
  	
  	<select id="secret_content" resultType="board" parameterType="int">
	  	SELECT board_no,subject,id,category,content,regdate,hit,secret,pwd  
	  	FROM board WHERE category=3 AND board_no=#{board_no}
  	</select>
  	
  	<!-- 내가쓴 비밀글 댓글 보기-->
  	<select id="idMine" resultType="String" parameterType="hashmap">
  	SELECT mine FROM (SELECT id as mine FROM board where group_tab=0 AND group_id=#{group_id})
  	</select>
  	
  	<update id="insertMine" parameterType="hashmap">
  		UPDATE BOARD SET mine=#{mine} WHERE group_id=#{group_id}
  	</update> 
  	
  	<!-- 비밀번호 찾기 -->
  	<select id="getPwd" resultType="String" parameterType="int">
  		SELECT pwd FROM board WHERE category=3 AND board_no=#{board_no}
  	</select>
  	
  	<!-- 1:1게시판수정 -->  	
  	<update id="secret_update" parameterType="board">
  		UPDATE board SET subject=#{subject},content=#{content},
  		secret=#{secret},pwd=#{pwd},hit=#{hit} WHERE board_no=#{board_no}
  	</update>
  	
  	<select id="secret_find" resultType="board" parameterType="hashmap">
  		SELECT board_no,subject,id,GROUP_ID,hit,group_tab,regdate,secret,pwd,to_char(regdate,'yyyy-MM-dd') as dbday,num 
  		FROM (SELECT board_no,subject,id,GROUP_ID,hit,group_tab,regdate,secret,pwd,ROWNUM as num 
  		FROM (SELECT board_no,subject,id,GROUP_ID,hit,group_tab,regdate,secret,pwd FROM board WHERE category=3 AND ${fs} LIKE '%${ss}%' ORDER BY group_id DESC, group_step ASC)) 
  		WHERE num BETWEEN #{start} AND #{end}  	
  	</select>
  	
  	<select id="secret_find_total" resultType="int" parameterType="hashmap">
  		SELECT CEIL(COUNT(*)/#{rowSize}) FROM board WHERE category=3 AND ${fs} LIKE '%${ss}%'
  	</select>
  	
  	<select id="board_deleteData" resultType="board" parameterType="int">
  		SELECT root,depth FROM board WHERE board_no=#{board_no}
  	</select>
  	
  	<delete id="board_delete" parameterType="int">
  		DELETE FROM board WHERE board_no=#{board_no}
  	</delete>
  	  	
  	<update id="secret_admin_delete" parameterType="int">
  		UPDATE board SET subject='관리자가 삭제한 게시물입니다.', content='관리자가 삭제한 게시물입니다.'WHERE board_no=#{board_no}
 	</update>
 	
 	<select id="secret_parentData" resultType="board" parameterType="int">
 		SELECT group_id, group_step, group_tab FROM board WHERE board_no=#{board_no}
 	</select>
 	
 	<update id="secret_stepIncrement" parameterType="board">
 		UPDATE board SET group_step=group_step+1 WHERE group_id=#{group_id} AND group_step>#{group_step}
 	</update>
 	
 	<insert id="secret_replyInsert" parameterType="board">
 		INSERT INTO board (board_no, id, subject, content, pwd,category,secret, group_id, group_step, group_tab, root) 
 		VALUES(board_seq.nextval,#{id},#{subject},#{content},#{pwd},3,#{secret},#{group_id},#{group_step},#{group_tab},#{root}) 		
 	</insert>
 	
 	<update id="secret_depthIncrement" parameterType="int">
 		UPDATE board SET depth=depth+1 WHERE board_no=#{board_no}
 	</update>
 	<!-- 리뷰보드 리스트 -->
 	<select id="reviewlist" resultType="r_board" parameterType="hashmap">
  		
 		SELECT book_name,review_no,BOOK_CODE,id,WRITER,content,IMG,score,regdate,to_char(regdate,'yyyy-MM-dd') as dbday,num
 		FROM (SELECT book_name,review_no,BOOK_CODE,id,WRITER,content,IMG,score,regdate,ROWNUM as num
 		FROM (SELECT book_name,review_no,review.BOOK_CODE as book_code,id,WRITER,content,IMG,score,regdate FROM REVIEW JOIN GOODS ON REVIEW.BOOK_CODE=GOODS.BOOK_CODE ORDER BY REVIEW_NO DESC))
 		WHERE num between #{start} AND #{end}
 		
  	</select>  	
 	<!-- 리뷰보드 리스트 끝 -->
 	<!-- 리뷰보드 토탈 -->
 	<select id="totalReviewPage" resultType="int" parameterType="hashmap">
  		SELECT CEIL(COUNT(*)/#{rowSize}) FROM REVIEW
  	</select>  	 	
 	<!-- 리뷰보드 토탈 끝 -->
 	<!-- 리뷰보드 검색 -->
 	<select id="review_find" resultType="r_board" parameterType="hashmap">
 		SELECT book_name,review_no,BOOK_CODE,id,WRITER,content,IMG,score,regdate,to_char(regdate,'yyyy-MM-dd') as dbday,num
 		FROM (SELECT book_name,review_no,BOOK_CODE,id,WRITER,content,IMG,score,regdate,ROWNUM as num
 		FROM (SELECT book_name,review_no,BOOK_CODE,id,WRITER,content,IMG,score,regdate FROM REVIEW NATURAL JOIN GOODS WHERE ${fs} LIKE '%${ss}%' ORDER BY REVIEW_NO DESC))
 		WHERE num between #{start} AND #{end}
 	</select>
 	<!-- 리뷰보드 검색 끝 -->
	
	<!-- 리뷰보드 검색 토탈 -->
 	<select id="review_find_total" resultType="int" parameterType="hashmap">
<!--  		SELECT CEIL(COUNT(*)/10) FROM REVIEW JOIN GOODS ON REVIEW.BOOK_CODE=GOODS.BOOK_CODE WHERE ${fs} LIKE '%${ss}%' 		 -->
	SELECT CEIL(COUNT(*)/10) FROM REVIEW NATURAL JOIN GOODS WHERE ${fs} LIKE '%${ss}%'
 	</select>
 	<!-- 리뷰보드 검색 끝 -->
 	
 	
 	<!-- 운영자 전용 게시판 --> 	
 	
 	<!-- 관리자 일반게시판 -->
 	<select id="printSysopBoard" resultType="board" parameterType="hashmap">
 		SELECT board_no,subject,id,GROUP_ID,hit,group_tab,regdate,secret,pwd,to_char(regdate,'yyyy-MM-dd') as dbday,num 
  		FROM (SELECT board_no,subject,id,GROUP_ID,hit,group_tab,regdate,secret,pwd,ROWNUM as num 
  		FROM (SELECT board_no,subject,id,GROUP_ID,hit,group_tab,regdate,secret,pwd FROM board ORDER BY group_id DESC, group_step ASC)) 
  		WHERE num BETWEEN #{start} AND #{end}
 	</select>
 	
 	<select id="printboardTotalPage" resultType="int" parameterType="int">
 		SELECT CEIL(COUNT(*)/#{rowSize}) FROM board
 	</select>
 	
 	<select id="printSearchSysopBoard" resultType="board" parameterType="hashmap">
 		SELECT board_no,subject,id,GROUP_ID,hit,group_tab,regdate,secret,pwd,to_char(regdate,'yyyy-MM-dd') as dbday,num 
  		FROM (SELECT board_no,subject,id,GROUP_ID,hit,group_tab,regdate,secret,pwd,ROWNUM as num 
  		FROM (SELECT board_no,subject,id,GROUP_ID,hit,group_tab,regdate,secret,pwd FROM board WHERE ${fs} LIKE '%${ss}%' ORDER BY group_id DESC, group_step ASC)) 
  		WHERE num BETWEEN #{start} AND #{end}
 	</select>
 	
 	<select id="printSearchBoardTotalPage" resultType="int" parameterType="hashmap">
 		SELECT CEIL(COUNT(*)/#{rowSize}) FROM board WHERE ${fs} LIKE '%${ss}%'
 	</select>
 	
 	<select id="boardManagementContent" resultType="board" parameterType="int">
 		SELECT board_no,subject,id,category,content,regdate,hit,secret,pwd
	  	FROM board WHERE board_no=#{board_no}
 	</select>
 	<!-- 관리자 일반게시판 끝-->
 	<!-- 관리자 리뷰게시판 -->
 	<select id="printSysopReviewBoard" resultType="r_board" parameterType="hashmap">
 		SELECT review_no,content,id,score,regdate,to_char(regdate,'yyyy-MM-dd') as dbday,num
  		FROM (SELECT review_no,content,id,score,regdate,ROWNUM as num
  		FROM (SELECT review_no,content,id,score,regdate FROM review ORDER BY review_no DESC ))
  		WHERE num BETWEEN #{start} AND #{end} 	
 	</select>
 	
 	<select id="printboardReviewTotalPage" resultType="int" parameterType="int">
 		SELECT CEIL(COUNT(*)/#{rowSize}) FROM review
 	</select>
 	
 	<select id="printSearchReviewSysopBoard" resultType="r_board" parameterType="hashmap">
 	 	SELECT review_no,id,content,score,regdate,to_char(regdate,'yyyy-MM-dd') as dbday,num
  		FROM (SELECT review_no,id,content,score,regdate,ROWNUM as num
  		FROM (SELECT review_no,id,content,score,regdate FROM review WHERE ${fs} LIKE '%${ss}%'  ORDER BY review_no DESC))
  		WHERE num BETWEEN #{start} AND #{end}
 	</select>
 	
 	<select id="printSearchReviewBoardTotalPage" resultType="int" parameterType="hashmap">
 		SELECT CEIL(COUNT(*)/#{rowSize}) FROM review WHERE ${fs} LIKE '%${ss}%' 	
 	</select> 	
 	
  	<delete id="board_reviewManagement_delete" parameterType="int">
  		DELETE FROM review WHERE review_no=#{review_no}
  	</delete>
  	
  	<select id="boardManagementReviewContent" resultType="r_board" parameterType="int">
 		SELECT review_no,id,score,content,regdate
	  	FROM review WHERE REVIEW_NO=#{review_no} 
 	</select>
 	
 	<!-- 관리자 리뷰게시판 끝 -->
 	
  </mapper>