<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sist.dao.mapper.OrderlistMapper">
 	<!-- Made By Choding -->
  	<!-- memberInfo Database Query -->
	
	<!-- Check order_id for Orderlist list -->
    <sql id="check-order_id">
		orders.id=#{id}
	</sql>
	
	<!-- View Member Orderlist for PageSite -->
	<select id="memberOrderlistTotalPage" resultType="int" parameterType="String">
		SELECT CEIL(COUNT(*)/7) FROM ORDERS,GOODS,ORDER_BOOK WHERE orders.order_id=order_book.order_id AND order_book.book_code=goods.book_code AND <include refid="check-order_id"/>
  	</select>
	
	
	
	<!-- Select Member Orderlist -->
	<select id="selectOrderlist" resultType="OrderlistVO" parameterType="hashmap">
  		SELECT orders.order_id,orders.id,order_book.book_code,goods.book_name,order_book.amount,orders.total_price,orders.payment,orders.order_date,orders.account_info,orders.refund_state, num
  			   FROM (SELECT orders.order_id,orders.id,order_book.book_code,goods.book_name,order_book.amount,orders.total_price,orders.payment,orders.order_date,orders.account_info,orders.refund_state, rownum as num
  			   FROM (SELECT orders.order_id,orders.id,order_book.book_code,goods.book_name,order_book.amount,orders.total_price,orders.payment,orders.order_date,orders.account_info,orders.refund_state FROM orders,goods,order_book 
  			   ORDER BY order_date DESC)) WHERE orders.order_id=order_book.order_id AND order_book.book_code=goods.book_code AND <include refid="check-order_id"/> BETWEEN #{start} AND #{END}
  	</select>
  	
  	<!-- Search Member Orderlist -->
 	
</mapper>