<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sist.dao.mapper.OrderBookMapper">
  <insert id="insertOrBk" parameterType="orderbook">
  	INSERT INTO order_book1(order_id, book_code, amount)
  	VALUES(#{order_id},#{book_code},#{amount})
  </insert>
  
  
</mapper>