<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sist.dao.mapper.OrderlistMapper">
  	<!-- Made By Choding -->
  	<!-- memberInfo Database Query -->
	
	<!-- Check order_id for Orderlist list -->
    <sql id="check-order_id">
		WHERE order_id=#{id}
	</sql>
	
	<!-- Select Member Orderlist -->
	<select id="selectOrderlist" resultType="OrderlistVO" parameterType="String">
  		SELECT order_id,book_code FROM orderlist1 <include refid="check-order_id"/>
  	</select>
  	
</mapper>
