<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!--   public int storeCount();
	public String[] storeAllName();
	public StoreVO storeInfo(String store_name); -->
	
<mapper namespace="com.sist.dao.mapper.StoreMapper">
	<select id="storeCount" resultType="int">
		SELECT COUNT(*) FROM store1
	</select>
	
	<select id="storeAllName" resultType="String">
		SELECT store_name FROM store1
	</select>
	
	<select id="storeInfo" resultType="storeVO" parameterType="String">
		SELECT store_name, tel, addr, lat, lng, info FROM store1 WHERE store_name=#{store_name}
	</select>
	
	
</mapper>
  
  