<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sist.dao.mapper.WishlistMapper">
  	<!-- Check id for Wishlist list -->
    <sql id="check-id">
		id=#{id}
	</sql>
  	
  	<!-- 위시리스트 목록 넣기 -->
  	<insert id="inputMemberWishlist" parameterType="hashmap">
 		INSERT INTO wishlist(id,book_code) VALUES(#{id},#{book_code})
 	</insert>
  	
  	<!-- 위시리스트에서 보여줄 리스트 -->
 	<select id="memberWishlist" parameterType="String" resultType="wishlist">
 		SELECT wishlist.id, wishlist.book_code, goods.book_name, goods.amount, goods.price, goods.img FROM wishlist,goods WHERE wishlist.book_code=goods.book_code AND wishlist.id=#{id}
  	</select>
  	
	<!-- 위시리스트에서 항목 삭제하기 -->
	<delete id="deleteMemberWishlist" parameterType="hashmap">
		DELETE FROM wishlist WHERE id=#{id} AND book_code=#{book_code}
  	</delete>
	
</mapper>