<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sist.dao.mapper.WishlistMapper">
  	<!-- Check id for Wishlist list -->
    <sql id="check-id">
		id=#{id}
	</sql>
  	
  	<!-- 위시리스트 목록 넣기 -->
  	<insert id="inputMemberWishlist" parameterType="hashmap">
 		INSERT INTO wishlist(id,book_code) VALUES(#{id},#{book_code})
 	</insert>
  	
  	<!-- 위시리스트에서 보여줄 리스트 -->
 	<select id="memberWishlist" parameterType="String" resultType="wishlistVO">
		SELECT book_code, book_name, amount, price, img FROM goods WHERE book_code IN (SELECT book_code FROM wishlist WHERE id = #{id})
  	</select>
  	
  	<select id="countWishlist" resultType="int" parameterType="hashmap">
  		SELECT count(*) FROM wishlist WHERE id=#{id} AND book_code=#{book_code}
  	</select>
  	
  	<delete id="deleteWishlist" parameterType="String">
  		DELETE FROM wishlist WHERE id = #{id}
  	</delete>
  	
  	<delete id="wlDeleteBook" parameterType="hashmap">
  		DELETE FROM wishlist WHERE id=#{id} AND book_code=#{book_code}
  	</delete>
	 	
</mapper>