<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.sist.dao.mapper.WriterMapper">
  		<select id="printWriter" resultType="writer" parameterType="int">
  			SELECT writer_name, birth, death, info, img FROM writer NATURAL JOIN goods WHERE book_category = #{book_category}
  		</select>
  </mapper>