<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.sist.dao.mapper.BoardMapper">
  	<!-- 구문을 찾기위해 사용 될 수 있는 명명공간 내 유일한 구분자 -->
   
  	<select id="noticelist" resultType="board" parameterType="hashmap">
 		SELECT board_no,subject,category,faq_category,content,regdate,num 
 		FROM (SELECT board_no,subject,category,faq_category,content,regdate,ROWNUM as num 
 		FROM (SELECT board_no,subject,category,faq_category,content,regdate FROM board1 WHERE category=1)) 
 		WHERE num BETWEEN #{start} AND #{end}
  	</select> 
  	<!-- 
  	<select id="noticeTotalPage" resultType="int">
  		SELECT CEIL(COUNT(*)/5) FROM board1
  	</select>
  	 -->
  	  
  	  <!-- 토탈 -->
  	<select id="faqTotalPage" resultType="int">
  		SELECT COUNT(*) FROM BOARD1 WHERE CATEGORY=2
  	</select>
  	
  	<!-- faq카테고리 마다의 토탈페이지도 해야함 -->
  	
  	
  	
  	<select id="faqlist" resultType="board" parameterType="hashmap">
	  SELECT board_no,subject,category,faq_category,content,regdate,num 
 		FROM (SELECT board_no,subject,category,faq_category,content,regdate,ROWNUM as num 
 		FROM (SELECT board_no,subject,category,faq_category,content,regdate FROM board1 WHERE category=2)) 
 		WHERE num BETWEEN #{start} AND #{end}
  	</select> 
  	
  	<select id="catfaqlist" resultType="board" parameterType="hashmap">
	  SELECT board_no,subject,category,faq_category,content,regdate,num
			FROM (SELECT board_no,subject,category,faq_category,content,regdate,ROWNUM as num
			FROM (SELECT board_no,subject,category,faq_category,content,regdate FROM board1 WHERE category=2 AND FAQ_CATEGORY=#{faq_category} )) WHERE num BETWEEN #{start} AND #{end}

  	</select> 
  	
  	<insert id="notice_insert" parameterType="hashmap">
  		INSERT INTO BOARD1 (board_no,id,category,subject,content,secret) VALUES (board_seq.nextval,'admin',1,#{subject},#{content},1)
  	
  	</insert>
  	
  	<insert id="faq_insert" parameterType="hashmap">
  	INSERT INTO BOARD1 (board_no,id,category,faq_category,subject,content,secret) VALUES (board_seq.nextval,'admin',2,#{faq_category},#{subject},#{content},1)
  	</insert>
  	
  	
  	
  </mapper>