<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sist.dao.mapper.BookMapper">
	<select id="bookAllList" resultType="bookVO">
		SELECT book_code, book_name,
		book_category, writer, publisher, book_content, price, publication, img
		FROM goods1
	</select>

	<!-- book 메인화면 : 카테고리 별 신간 5권씩 출력 -->
	<select id="newBookCate" resultType="bookVO" parameterType="int">
		SELECT book_name, publisher, book_content, price, publication, img, writer, num FROM
		(SELECT book_name, publisher, book_content, price, publication, img, writer, rownum as num FROM
    	(SELECT book_name, publisher, book_content, price, publication, img, writer FROM GOODS1 where book_category=#{category} ORDER BY publication DESC)) 
    	WHERE num BETWEEN 1 AND 5
	</select>

	
	<!-- 카테고리별 전체 리스트 (최신순으로 정렬) -->
	<select id="bookListCateFirst" resultType="bookVO" parameterType="hashmap">
		SELECT book_code, book_name, book_category, writer, publisher, amount, out_of_print, pages, book_content, price, publication, img, num FROM 
		(SELECT book_code, book_name, book_category, writer, publisher, amount, out_of_print, pages, book_content, price, publication, img, rownum as num FROM 
		(SELECT book_code, book_name, book_category, writer, publisher, amount, out_of_print, pages, book_content, price, publication, img FROM GOODS1 WHERE book_category=#{category} ORDER BY publication DESC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 카테고리별 총 권수 -->
	<select id="cateFirCount" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM GOODS1 WHERE book_category=#{book_category}
	</select>
	
	<!-- 카테고리별 총 페이지 수 (1페이지에 10권 목록 보이기) -->
	<select id="cateFirTotalPage" resultType="int" parameterType="int">
		SELECT CEIL(COUNT(*)/10) FROM goods1 WHERE book_category=#{book_category}
	</select>
	
	<!-- 상세 페이지 정보 -->
	<select id="detailBook" resultType="bookVO" parameterType="String">
		SELECT book_code, book_name, book_category, writer, publisher, amount, out_of_print, pages, book_content, price, publication, img 
		FROM goods1 
		WHERE book_code = #{book_code}
	</select>
	
	<!-- 아래 페이지로 넘겨줄 때는 Book_code 가 같은 값들을 넘겨주면 됨 -->
	<!-- 찜목록 페이지로 넘겨줄 때 사용하는 SQL -->
	<insert id="wishpop" parameterType="hashmap">
		INSERT INTO WISHLIST1 VALUES(#{id}, #{book_code})
	</insert>
	
	<!-- 장바구니 페이지로 넘겨줄 때 사용하는 SQL -->
	<select id="orderpop" resultType="String" parameterType="String">
	
	</select>
	
	<!-- 바로구매 페이지로 넘어갈 때 -->
	<select id="purchasepop" resultType="String" parameterType="String"></select>
</mapper>