<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.sist.dao.mapper.MemberMapper">
   <!-- 구문을 찾기위해 사용 될 수 있는 명명공간 내 유일한 구분자 -->
  	<sql id="where-id">
          WHERE id=#{id}          
      </sql>
      <sql id="where-pwd">
          WHERE pwd=#{pwd}          
      </sql>
      
  	<select id="idCheck" resultType="int" parameterType="String">
  		SELECT count(*) FROM member1 <include refid="where-id"/>
  	</select>
  	
  	<select id="pwdCheck" resultType="String" parameterType="String">
  		SELECT pwd FROM member1 <include refid="where-id"></include>
  	</select>
  	
  	<select id="getGrade" resultType="int" parameterType="String">
  		SELECT grade FROM member1 <include refid="where-id"></include>
  	</select>
  	
  	<select id="selectMember" resultType="member" parameterType="String">
  		SELECT id, pwd, addr,zipcode,phone,gender,email,point,grade FROM member1 <include refid="where-id"/>
  	</select>
  	
  	<select id="memberlist" resultType="member" parameterType="hashmap">
	  SELECT id,name,phone,grade,num
			FROM (SELECT id,name,phone,grade,ROWNUM as num
			FROM (SELECT id,name,phone,grade FROM member1 WHERE  <![CDATA[ id <> 'admin' ]]>)) WHERE num BETWEEN #{start} AND #{end}

  	</select>
  	
  	
  	
  	<insert id="joinMember" parameterType="member">
  		INSERT INTO member1(id,pwd,name,addr,zipcode,phone,gender,email)
  			VALUES(#{id},#{pwd},#{name},#{addr}, #{zipcode}, #{phone}, #{gender}, #{email})
  	</insert>
  	
  	<delete id="memberDelete" parameterType="String">
  		DELETE FROM member1 <include refid="where-id"/>
  	</delete>
  	
  	<update id="updateGrade" parameterType="hashmap">
  		UPDATE member1 SET grade=#{grade} <include refid="where-id"/>
  	</update>
  	
  </mapper>